<!DOCTYPE html>
<html ng-app="firstApp">
    <head>
        <title>Moja strona</title>
        <meta charset="utf-8" />
        
    </head>
    <body>
        <div class="container">
            <p>{{ 2 + 2 }}</p>
            <div ng-controller="firstController">
                
                Czy jesteś pełnoletni? <input type="checkbox" ng-model="isVisible" id="adult" /> <label for="adult">Tak</label>
                <p ng-show="isVisible">Kontent dla ludzi pełnoletnich</p>
                
                <input type="text" ng-model="imie" ng-keyup="action()" />
                <p> {{ imie | uppercase }}</p>
                <button ng-click="action()">Kliknij mnie!</button>
                
                {{ message }}
                <p>Mr {{ user.name }} {{ user.lastname }} ({{ user.salary | currency }})</p>
                <div ng-controller="thirdController">
                    {{ message }} &bull; {{ $parent.message }}
                    <ul>
                        <li ng-repeat="item in myList">{{ item }}</li>
                    </ul>
                    <button ng-click="showMessage()">Wyświetl</button>
                </div>
            </div>
            <div ng-controller="secondController as secondC">
                {{ secondC.info }}
            </div>
        </div>
        
        <div ng-controller="fourthC">
            <button ng-click="showCurrencies()">Pokaż waluty</button>
            <div id="result">
                {{ rates }}
            </div>
        </div>
        
        
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
        <script src="./js/app.js"></script>
    </body>
</html>