body {
    margin-top: 30px;
}

.deck {
    margin-left: 50px;
}

.card {
    height: 200px;
    width: 120px;
    border-radius: 5px;
    padding: 10px;
    float: left;
    margin-left: -50px;
    background-color: white;
}

.red {
    border: 2px solid #cc0000;
}

.black {
    border: 2px solid #000;
}

.mt-30 {
    margin-top: 30px;
}

.mt-0 {
    margin-top: 0;
}